<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <a href="/poems" <%- title === 'All Poems' ? 'class="active"' : '' %>>ALL POEMS</a>
    <% if (user) { %>

      <a href="/poems/new" <%- title === 'Add Poem' ? 'class="active"' : '' %>>ADD POEM</a>
      <a href="/poems/read" <%- title === 'Read' ? 'class="active"' : '' %>>READ</a>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <a href="/auth/google" class="login">LOG IN&nbsp;</a>
    <% } %>
  </nav>
  <main>
    <h1><%= title %></h1>