<%- include('../partials/header') %>

<section id="show-page">
  <div><%= poem.title %></div>
  <div><%= poem.poet %></div>
  <div><%= poem.releaseYear %></div>
  <div><pre><%= poem.poem %></pre></div>
  <div>
    <button type="button" onclick="var result = confirm('Want to mark as read?'); if (result) { fetch('/poems/markread/<%= poem._id %>', {  method: 'PUT',}).then(res => { alert('marked as read'); }) }" >Mark As Read</button>
    <%= %>
    <button type="button" onclick="var result = confirm('Want to delete?'); if (result) { fetch('/poems/<%= poem.id %>', {  method: 'DELETE',}).then(res => { alert('deleted'); window.location = '/poems'; }) }" >Delete</button>
    <%= %>
  </div>

</section>

<%- include('../partials/footer') %>